In [127]:
import pandas as pd
import numpy as np

In [146]:
df = pd.read_csv('original_dataset.csv', sep = ';')

## Introduction of roll, pitch and module parameters for each accelerometer

In [147]:
df['roll1'] = pd.Series(180/np.pi*(np.arctan2(df['y1'], df['z1'])))
df['pitch1'] = pd.Series(180/np.pi*(np.arctan2(-df['x1'], np.sqrt(np.power(df['y1'], 2) + np.power(df['z1'], 2)))))
df['module1'] = pd.Series(np.sqrt(np.power(df['x1'], 2) + np.power(df['y1'], 2) + np.power(df['z1'], 2)))

df['roll2'] = pd.Series(180/np.pi*(np.arctan2(df['y2'], df['z2'])))
df['pitch2'] = pd.Series(180/np.pi*(np.arctan2(-df['x2'], np.sqrt(np.power(df['y2'], 2) + np.power(df['z2'], 2)))))
df['module2'] = pd.Series(np.sqrt(np.power(df['x2'], 2) + np.power(df['y2'], 2) + np.power(df['z2'], 2)))

df['roll3'] = pd.Series(180/np.pi*(np.arctan2(df['y3'], df['z3'])))
df['pitch3'] = pd.Series(180/np.pi*(np.arctan2(-df['x3'], np.sqrt(np.power(df['y3'], 2) + np.power(df['z3'], 2)))))
df['module3'] = pd.Series(np.sqrt(np.power(df['x3'], 2) + np.power(df['y3'], 2) + np.power(df['z3'], 2)))

df['roll4'] = pd.Series(180/np.pi*(np.arctan2(df['y4'], df['z4'])))
df['pitch4'] = pd.Series(180/np.pi*(np.arctan2(-df['x4'], np.sqrt(np.power(df['y4'], 2) + np.power(df['z4'], 2)))))
df['module4'] = pd.Series(np.sqrt(np.power(df['x4'], 2) + np.power(df['y4'], 2) + np.power(df['z4'], 2)))

df.head(1)

,user,gender,age,how_tall_in_meters,weight,body_mass_index,x1,y1,z1,x2,...,module1,roll2,pitch2,module2,roll3,pitch3,module3,roll4,pitch4,module4
0,debora,Woman,46,"1,62",75,"28,6",-3,92,-63,-23,...,111.543713,136.548158,41.308515,34.842503,131.496468,-2.062298,138.942434,-144.981829,39.884957,233.918789

## Remove of x, y, z parameters for each accelerometer

In [148]:
df = df.drop(labels = ['x1', 'y1', 'z1'], axis = 1)
df = df.drop(labels = ['x2', 'y2', 'z2'], axis = 1)
df = df.drop(labels = ['x3', 'y3', 'z3'], axis = 1)
df = df.drop(labels = ['x4', 'y4', 'z4'], axis = 1)

df.head(1)

,user,gender,age,how_tall_in_meters,weight,body_mass_index,class,roll1,pitch1,module1,roll2,pitch2,module2,roll3,pitch3,module3,roll4,pitch4,module4
0,debora,Woman,46,"1,62",75,"28,6",sitting,124.402665,1.541172,111.543713,136.548158,41.308515,34.842503,131.496468,-2.062298,138.942434,-144.981829,39.884957,233.918789

In [150]:
df.head()

,user,gender,age,how_tall_in_meters,weight,body_mass_index,class,roll1,pitch1,module1,roll2,pitch2,module2,roll3,pitch3,module3,roll4,pitch4,module4
0,debora,Woman,46,"1,62",75,"28,6",sitting,124.402665,1.541172,111.543713,136.548158,41.308515,34.842503,131.496468,-2.062298,138.942434,-144.981829,39.884957,233.918789
1,debora,Woman,46,"1,62",75,"28,6",sitting,124.249033,1.511160,113.758516,135.000000,39.521196,33.000000,130.872408,5.812229,138.246157,-144.350344,39.862300,232.469353
2,debora,Woman,46,"1,62",75,"28,6",sitting,122.164391,0.500011,114.590576,126.869898,25.641006,27.730849,130.872408,5.399617,138.148471,-144.162347,40.367439,233.137299
3,debora,Woman,46,"1,62",75,"28,6",sitting,120.699723,1.026266,111.664677,127.303948,29.603745,30.364453,130.555894,5.425194,137.499091,-144.044667,41.094312,232.770273
4,debora,Woman,46,"1,62",75,"28,6",sitting,122.432557,0.503726,113.745330,126.869898,27.474432,28.178006,130.555894,5.425194,137.499091,-143.972627,40.869343,233.824721